main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}

.contact-section {
    display: flex;
    flex-direction: column;
    width: 45%;
    min-width: 600px;
    margin: 0  auto;
}

.contacts-navbar {
    padding: 1rem;
}

.contacts-nav-options {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.contacts-nav-options > li {
    cursor: pointer;
}