.message-container {
    position: absolute;
    text-align: center;
    width: 340px;
    padding: 10px;
    top: 0;
    left: 40%;
    right: 60%;
    animation: slideDown 800ms;
    border-radius: 2px;
}

.message-success {
    background-color: #79e7ab;
    color: #185534;
}

.message-error {
    background-color: #f96257;
    color: #8f3530;
}

@keyframes slideDown {
    from {
        transform: translatey(-38px);
    }

    to {
        transform: translatey(0);
    }
}

.message-container > span {
    
    font-weight: 500;
}