.message-container {
    position: absolute;
    text-align: center;
    width: 340px;
    padding: 10px;
    top: 0;
    left: 40%;
    right: 60%;
    animation: slideDown 800ms;
}

.message-success {
    background-color: #5fd159;
}

.message-error {
    background-color: #e54e4e;
}

@keyframes slideDown {
    from {
        transform: translatey(-38px);
    }

    to {
        transform: translatey(0);
    }
}

.message-container > span {
    color: white;
    font-weight: 600;
}