@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #fafafa;
  font-family: sans-serif;
}

#app {
  height: 100%;
}

.add-btn {
  align-self: center;
  padding: 5px;
  cursor: pointer;
  outline: none;
  background-color: rgb(45, 74, 190);
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 1.1rem;

}

.add-btn:focus {
  background-color: rgb(24, 47, 141);
}